<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SampleServlet</display-name>
	<servlet>
		<servlet-name>TestServlet1</servlet-name>
		<servlet-class>com.sample.servlet1.ServletTesting</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet2</servlet-name>
		<servlet-class>com.sample.servlet2.HelloServlet</servlet-class>
	</servlet>
	<!-- The mappings for the JSP servlet -->
	<servlet-mapping>
		<servlet-name>TestServlet1</servlet-name>
		<url-pattern>/SampleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet2</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>